/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #add8e6; /* Light blue background color */
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#school-logo {
    max-width: 100px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.game-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.game-button:hover {
    background-color: darkred;
}
